<Project>
  <PropertyGroup>
  <ContainerRepository>microservice-movies</ContainerRepository>
  <ContainerPublishMethod>Build</ContainerPublishMethod>
  <ContainerImageTag>latest</ContainerImageTag>
  <ContainerRegistry>howestprimewidepacrlanderdebeir.azurecr.io</ContainerRegistry>
  </PropertyGroup>
</Project>